.item-container {
    margin-top: 3%;
    margin-left: 2%;
    border: 5px black solid;
    overflow-y: scroll;
    height: 70vh;
    width: 95vw;
    /* box-shadow: 2px 2px 2px 2px rebeccapurple; */
    border-radius: 10px;

}

