.App {
    background: #15aabf;
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
}
.header {
    margin-top: 0;
}

.bottom-btns {
    display: flex;
	justify-content: space-around;
	align-items: center;

}

.grocery-btn {
    border: solid #fab005 2px;
    color:white;
    text-decoration: none;
    height: 10vh;
    width: 85%;
    margin: 0;
    background: #fab005;
    text-align: center;
    padding-top: 12%;
}

.w-wishList-btn{
    border: solid #7950f2 2px;
    text-decoration: none;
    color:white;
    text-decoration: none;
    height: 25vh;
    width: 30vw;
    margin: 0;
    background: #7950f2;
    text-align: center;
}

.e-wishList-btn{
    border: solid #ced4da 2px;
    text-decoration: none;
    color:Black;
    text-decoration: none;
    height: 25vh;
    width: 30vw;
    margin: 0;
    background: #ced4da;
    text-align: center;
}

