.App {
    /* border: red 5px solid; */
    height: 100vh;
    width: 100vw;
}

.main-page {
    /* border: rgb(208, 255, 0) 5px solid; */
    background: #15aabf;
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    text-decoration: none;
}

.header {
    margin-top: 0;
}

.top-btns {
    display: flex;
	flex-direction: column;
    margin-left: 4% ;

}

.grocery-btn {
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
    border-radius: 10px;
    border: solid #fab005 2px;
    color:white;
    text-decoration: none;
    height: 20vh;
    width: 90vw;
    background: #fab005;
    text-align: center;
    box-shadow: 2px 1px 2px 1px black;
}

.bottom-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w-wishList-btn{
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
    border-radius: 10px;
    text-decoration: none;
    color:white;
    text-decoration: none;
    height: 20vh;
    width: 30vw;
    margin: 0;
    background: #7950f2;
    text-align: center;
    box-shadow: 2px 1px 2px 1px black;
}

.e-wishList-btn{
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
    border-radius: 10px;
    text-decoration: none;
    color:Black;
    text-decoration: none;
    height: 20vh;
    width: 30vw;
    margin: 0;
    background: #ced4da;
    text-align: center;
    box-shadow: 2px 1px 2px 1px black;
}

.home-button {
    margin-top: 0;
    padding: 33px;
    font-size: 33px;
    border: #ced4da solid 1px;
    width: 6%;
    margin-bottom: 3%;
    background: #15aabf;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    color: white;
    text-decoration: none;
}

.grocery-page {
    /* border: rgb(208, 255, 0) 5px solid; */
    background-color: #fab005;
    /* background: #eccc80; */

    height: 100vh;
    width: 100vw;
}

.form-and-list {
    display: flex;
	flex-direction: column;
    align-items: center;
    margin-right:2%;

}

.whits-page {
    background: #7950f2;
   

    height: 100vh;
    width: 100vw;
}

.eddies-page {
    /* padding: 15px; */
    background: #ced4da;
    height: 100vh;
    width: 100%;
}



